<div class="header-top">
  <div class="container">
    <div class="float-left">
      <p class="font-weight-bold white">
        <i class="fa fa-phone"></i>01906111650 (8AM-9PM)
      </p>
    </div>
    <div class="flex float-right white">
      <i class="fa fa-user white"></i>
      <p class="font-weight-bold white">
        <a href="#" class="rg-log">Registration</a>
      </p>
      <p class="font-weight-bold white">OR</p>
      <p class="font-weight-bold white">
        <a href="#" class="rg-log">Login</a>
      </p>
    </div>
  </div>
</div>

<!--     header-top-2
-->

<!--     menu section started
-->
<div class="menu">
  <div class="container" style="padding-left: 0; padding-right: 0">
    <nav
      class="navbar navbar-expand-md"
      style="padding-left: 0; padding-right: 0"
    >
      <ul class="navbar-nav nav justify-content-center">
        <li class="nav-item">
          <a href="#" class="nav-link">DESKTOP</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">LAPTOP</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">COMPONENT</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">MONITOR</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">UPS</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">TABLET</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">OFFICE EQUIPMENT</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">CAMERA</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">SECURITY</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">NETWORKING</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">ACCESSORIES</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">SOFTWARE</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">SERVER & STORAGE</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">TV</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">AC</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">GADGET</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">GAMING</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">BLOG</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!--   product-page-started
-->
<div class="url-detail">
  <div class="container">
    <div>
      <h5 class="url-pattern">Something</h5>
    </div>
  </div>
</div>
